url: "moex.com"
port: 80
OS: "linux"
ARCH: "amd64"
user: "monitor"
zabbix_server: "127.0.0.1"
graphiteServer: "127.0.0.1"
graphitePort: "2003"
servername: "mysuperserver"
buildTarget: "sender"
workTarget: "usdeuro"
remotePath: "/srv/monitoring_scrips/isschecker/"
token: "mysupersecrettoken"
Describe: "ISSCheck"
serverWichCanHook: "WhoCanHookServer"
