<h2>Добавление новых адресов:</h2>
<p> </p>
<p>Адреса для passport.beta.moex.com добавляются после письма тех. поддержки с просьбой от НРД добавить клиента. В письме указываются ip адреса, к какому ресурсу необходим доступ и имя самого клиента.</p>
<p>IP добавляются на сервере <strong>dls11 (172.20.192.11) </strong>от пользователя <strong>root</strong>, в конф. файл <strong>/etc/nginx/allowed_clients.conf</strong> . </p>
<p>Адреса следует добавлять в соответствии с шаблоном:</p>
<p>#Комментарий</p>
<p>allow адрес1;</p>
<p>allow адрес2; <strong>Если требуется</strong> </p>
<p>--пустая строка--</p>
<p> </p>
<p>1) проверка корректности внесенных изменений в конфигурационный файл:  <strong>nginx –t</strong></p>
<p>2) перепрочитывание новой конфигурации и вступление ее в силу: <strong>service nginx reload</strong></p>
<p>
<table border="1">
  <tr>
    <th>
      Заказчик
    </th>
    <th>
      Пул адресов
    </th>
  </tr>
{{range .}}
<tr>
<td>{{.Name}}</td>
<td>{{range .IP}}{{.}}<br>{{end}}</td>
</tr>
{{end}}
</table>
